@import "../colors";

:host {
  position: absolute;
  z-index: 99;
  .show {
    display: flex;
  }
  .hide {
    display: none;
  }

  p {
    position: absolute;
    background: $text-color;
    color: white;
    min-height: 40px;
    width: 220px;
    top: -25px;
    left: 10px;
    padding: 10px;
  }

}