$hipster-light-blue: #26ddd5;
$hipster-blue: #2637dd;
$hipster-green: #26dd34;
$hipster-dark-green: #1fb92b;
$hipster-red: #dd2e26;
$hipster-orange: #dd6126;
$hipster-purple: #7526dd;
$hipster-fuschia: #dd26ad;
$hipster-pink: #dd2650;
$hipster-grey: #d4d4d4;
$hipster-black: #202020;

$border-color: $hipster-black;
$text-color: $hipster-black;
$primary-color: $hipster-blue;
$warning-color: $hipster-orange;
$danger-color: $hipster-red;
$good-color: $hipster-green;
$info-color: $hipster-light-blue;
$callout-color: $hipster-purple;
